.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 0.75fr;
}

.svg {
  display: grid;
  align-self: center;
  justify-content: center;
}

.frames {
  display: grid;
  margin-right: 3.75rem;
  grid-template-columns: repeat(4, minmax(7rem, auto));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-auto-rows: auto;
}

.shelterbuddy {
  display: grid;
  height: 31.9rem;
  width: 6.68rem;
  background: white;
  border: solid 5px var(--black);
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 0px #030303;
  transition: 0.2s;
  cursor: pointer;
}

.shelterbuddy:hover {
  height: 34rem;
  width: 7.12rem;
}

.flowers {
  display: grid;
  height: 31.9rem;
  width: 6.68rem;
  background: var(--nude-500);
  border: solid 5px var(--black);
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 0px #030303;
  transition: 0.2s;
  cursor: pointer;
}

.flowers:hover {
  height: 34rem;
  width: 7.12rem;
}

.hireguide {
  display: grid;
  height: 31.9rem;
  width: 6.68rem;
  background: var(--red);
  border: solid 5px var(--black);
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 0px #030303;
  transition: 0.2s;
  cursor: pointer;
}

.hireguide:hover {
  height: 34rem;
  width: 7.12rem;
}

.lupa {
  display: grid;
  height: 31.9rem;
  width: 6.68rem;
  background: var(--blue);
  border: solid 5px var(--black);
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 0px #030303;
  transition: 0.2s;
  cursor: pointer;
}

.lupa:hover {
  height: 34rem;
  width: 7.12rem;
}