:root {
  --nude-300: #F9DBAE;
  --nude-500: #F8D39B;
  --nude-600: #F6CC8D;

  --gray: #ADADAD;
  --gray-700: #313131

  --black: #030303;

  -green: #AADC6B;

  -pink: #DF78CF;

  -red: #F45565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--nude-300)
}

body, input, textarea, button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}